In [1]:
import pandas as pd
import os
import statistics
from datetime import datetime

In [2]:
# Calculate Return Functions

def calculateReturns2(stockyprev,stockxprev,stocky,stockx,lotx,loty,multiplier_x,multiplier_y):
    returns = (stockyprev - stocky)*loty*multiplier_y + (stockx-stockxprev)*lotx*multiplier_x
    return returns


def calculateReturns1(stockyprev,stockxprev,stocky,stockx,lotx,loty,multiplier_x,multiplier_y):
    returns = (stocky - stockyprev)*loty*multiplier_y + (stockxprev-stockx)*lotx*multiplier_x
    return returns

In [7]:
# Read all CSV Files
# arr = os.listdir("Data/FinalBacktestData")
# arr = os.listdir(r"Fin_data\Fin_data\Data\FinalBacktestData")
arr = os.listdir(r"C:\Users\acer\Desktop\Py-Fin\Fin_data\Fin_data\Data\FinalBacktestData")

print(arr)

['ABBOTINDIA_DRREDDY.csv', 'ABBOTINDIA_LUPIN.csv', 'ABBOTINDIA_TORNTPHARM.csv', 'ABBOTINDIA_ZYDUSLIFE.csv', 'ABB_SIEMENS.csv', 'ABFRL_PAGEIND.csv', 'ALKEM__TORNTPHARM.csv', 'AUROPHARMA_ALKEM.csv', 'AXISBANK_FEDERALBNK.csv', 'AXISBANK_RBLBANK.csv', 'BAJAJ-AUTO_HEROMOTOCO.csv', 'BAJAJFINSV_BAJFINANCE.csv', 'BAJFINANCE_BAJAJFINSV.csv', 'BPCL_IOC.csv', 'CANBK_BANKBARODA.csv', 'COALINDIA_HINDCOPPER.csv', 'COFORGE_BSOFT.csv', 'COFORGE_HCLTECH.csv', 'COFORGE_LTTS.csv', 'COFORGE_PERSISTENT.csv', 'COFORGE_TECHM.csv', 'DALBHARAT_ULTRACEMCO.csv', 'DRREDDY_AUROPHARMA.csv', 'DRREDDY_GLENMARK.csv', 'DRREDDY_LUPIN.csv', 'DRREDDY_ZYDUSLIFE.csv', 'DRREDDY__AUROPHARMA.csv', 'DRREDDY__GLENMARK.csv', 'FEDERALBNK_AXISBANK.csv', 'FSL_COFORGE.csv', 'FSL_OFSS.csv', 'GLENMARK_AUROPHARMA.csv', 'GLENMARK_DRREDDY.csv', 'GLENMARK_LUPIN.csv', 'GODREJPROP_DLF.csv', 'GUJGASLTD_GSPL.csv', 'HAL_BEL.csv', 'HCLTECH_COFORGE.csv', 'HCLTECH_TCS.csv', 'HDFCAMC_HDFCLIFE.csv', 'HDFCAMC_ICICIGI.csv', 'HDFCBANK_CUB.csv', 'HDFCLIFE_HDFCAMC.csv', 'HDFCLIFE_ICICIGI.csv', 'HEROMOTOCO_ASHOKLEY.csv', 'HINDCOPPER_COALINDIA.csv', 'HINDPETRO_BPCL.csv', 'HINDPETRO_IOC.csv', 'ICICIBANK_FEDERALBNK.csv', 'ICICIGI_BAJFINANCE.csv', 'ICICIGI_HDFCAMC.csv', 'ICICIGI_HDFCLIFE.csv', 'ICICIPRULI_HDFCLIFE.csv', 'IDEA_BSOFT.csv', 'IDFCFIRSTB_AXISBANK.csv', 'IDFC_ABCAPITAL.csv', 'IDFC_IDFCFIRSTB.csv', 'IGL_MGL.csv', 'INDUSINDBK_AXISBANK.csv', 'INDUSINDBK_FEDERALBNK.csv', 'INDUSINDBK_IDFCFIRSTB.csv', 'INDUSINDBK_RBLBANK.csv', 'INDUSINDBK__AXISBANK.csv', 'INFY_TECHM.csv', 'IOC_BPCL.csv', 'IPCALAB_DIVISLAB.csv', 'JKCEMENT_ULTRACEMCO.csv', 'KOTAKBANK_HDFCBANK.csv', 'L&TFH_CHOLAFIN.csv', 'L&TFH_IDFC.csv', 'LAURUSLABS_BIOCON.csv', 'LTTS_FSL.csv', 'LTTS_LTIM.csv', 'LTTS_TCS.csv', 'LTTS_TECHM.csv', 'LUPIN_DRREDDY.csv', 'LUPIN_GLENMARK.csv', 'LUPIN_SUNPHARMA.csv', 'M&MFIN_ABCAPITAL.csv', 'M&MFIN_IDFC.csv', 'M&MFIN_L&TFH.csv', 'M&M_EICHERMOT.csv', 'M&M_TVSMOTOR.csv', 'MARUTI_EICHERMOT.csv', 'MARUTI_M&M.csv', 'MARUTI__M&M.csv', 'METROPOLIS_LALPATHLAB.csv', 'MGL_GAIL.csv', 'MGL_IGL.csv', 'MGL_ONGC.csv', 'MGL__GAIL.csv', 'MPHASIS_INFY.csv', 'MPHASIS_TECHM.csv', 'MPHASIS_WIPRO.csv', 'MRF_APOLLOTYRE.csv', 'MUTHOOTFIN_ICICIGI.csv']

In [8]:
def scr_retrival(cname,dlist,date_format='%d-%m-%Y'):
    
    '''
    This function retrieves the data for scores from the merged and make sure the Data integrity is intact.
    It matched dates and all
    '''
    # print(type(dlist[0]))
    
    ndate=[]
    for date_str in dlist:
        try:
            date_obj = datetime.strptime(date_str, "%Y-%m-%d")
            formatted_date = date_obj.strftime("%d-%m-%Y")
            ndate.append(formatted_date)
        except ValueError:
            print(f"Invalid date format: {date_str}")
    dlist=ndate
    try:
        x2df=pd.read_csv(fr'C:\Users\acer\Desktop\Py-Fin\Fin_data\Fin_data\Data\Merged Scores\{cname}.csv')
        # x2df=pd.read_csv(f'Data\Merged Scores\{cname}.csv')
        # print(x2df)
        # print("ran")
        x2df['DateTime'] = pd.to_datetime(x2df['DateTime'], format=date_format)

        dlist = pd.to_datetime(dlist, format=date_format)
        
        dates_df = pd.DataFrame(dlist, columns=['DateTime'])

        # Merge the dates_df with x2df to ensure all dates from dlist are included
        filtered_df = pd.merge(dates_df, x2df, on='DateTime', how='left')
        filtered_df['DateTime'] = filtered_df['DateTime'].dt.strftime(date_format)
        # filtered_df = x2df[x2df['DateTime'].isin(dlist)]
        filtered_df=filtered_df.iloc[:,1:]
        return filtered_df

    except Exception as e:
        print(f'Issue in finding {cname} merged file,{e}')
        return None

In [10]:
uy=r'C:\Users\acer\Desktop\Py-Fin\Fin_data\Fin_data\Data\FinalBacktestData\ABBOTINDIA_TORNTPHARM.csv'
# Fin_data\Fin_data\Data\FinalBacktestData\ABBOTINDIA_TORNTPHARM.csv
data=pd.read_csv(uy)

data

,Dates,TORNTPHARM.NS Y,ABBOTINDIA.NS X,Standard Residual,Residual,Y Predicted,Signal,Coint,Trades,Investments,...,Trade Length,Percentage Return,Profit,Net Percentage Return,Long Profit,Short Profit,Effective Investment of TORNTPHARM.NS X,Effective Investment of TORNTPHARM.NS Y,Multiplier X,Multiplier Y
0,2023-05-18,1650.050049,20970.550781,1.225042,87.342434,1562.707615,NaN,0.006294,1.0,43767.5009765625,...,209.0,-3.278231,-1434.799805,-327.823105,6553.599609,-7988.399414,21737.900391,22029.600586,1.0,12.0
1,2023-05-19,1661.900024,20898.449219,1.416894,101.191238,1560.708787,NaN,0.007270,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25725.099609,26373.999023,1.0,10.0
2,2023-05-22,1669.849976,21373.099609,1.305228,93.288739,1576.561237,NaN,0.006768,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-05-23,1691.099976,21508.099609,1.531412,109.646969,1581.453006,NaN,0.008134,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-05-24,1690.050049,21470.000000,1.524174,109.357068,1580.692980,NaN,0.008083,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,2024-05-14,2630.649902,26778.400391,1.231695,194.478912,2436.170990,NaN,0.057769,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,2024-05-15,2648.949951,26410.949219,1.622091,256.708539,2392.241412,NaN,0.069974,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,2024-05-16,2699.949951,26542.550781,1.819037,288.557059,2411.392893,NaN,0.100945,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,2024-05-17,2698.699951,26491.449219,1.832885,291.765699,2406.934252,NaN,0.103666,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,2024-05-21,2681.699951,26438.750000,1.751001,279.624046,2402.075905,NaN,0.098435,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
newlist=data['Net Investments']
newlist

0      437.67500976562496
1                     NaN
2                     NaN
3                     NaN
4                     NaN
              ...
242                   NaN
243                   NaN
244                   NaN
245                   NaN
246                   NaN
Name: Net Investments, Length: 247, dtype: object

In [34]:
import re

def f_para(search_list,txt):
    pattern = fr'^{txt}\s'  

    for idx,ele in enumerate(search_list):

        if isinstance(ele, str):
            # print('str detechted')
            x = re.search(pattern, ele)
            if x :
                print(ele,'Found at',idx)
                return idx

In [35]:
f_para(newlist,'Lot')

Lot TORNTPHARM.NS Y Found at 7

7

In [125]:
import pandas as pd


def Mega_s(df, w1, w2):
    """
    Filters a DataFrame based on two words (w1, w2) and prints the matching elements along with their row indices and column names.

    Args:
        df (pandas.DataFrame): The DataFrame to filter.
        w1 (str): The first word.
        w2 (str): The second word.
    """

    # Check for empty DataFrame
    if df.empty:
        print("Empty DataFrame provided.")
        return

    for col in df.columns:
        # Check data type before using .str methods
        if col.startswith(w1) and col.endswith(w2):
            print(col)
            return None,col 
        
        
        if df[col].dtype == object:
            # String data, proceed with vectorized methods
            filtered_df = df[df[col].str.startswith(w1) & df[col].str.endswith(w2)]
            if not filtered_df.empty:
                for index, row in filtered_df.iterrows():
                    print(f"Element at row {index}, column '{col}': {row[col]}")
                    return index ,col
        else:
            # Non-string data, skip or consider conversion if applicable
            pass  # Or convert to string if meaningful (df[col].astype(str))

In [134]:
r,c=Mega_s(data.copy(), 'Multiplier', 'Y')

Multiplier Y

In [136]:
if r is not None:
    print('1st')
    print(data[c][r])
    print(float(data[c][r+1]))
if r is None:
    print('2nd')
    print(c)
    print(float(data[c][0]))

2nd
Multiplier Y
12.0

In [72]:
tem12=list(data.columns)
tem12[1].endswith('Y')

True

In [93]:
def mega_s(df,w1,w2):
    
    # clist=list(df.columns)
    
    for col in df.columns:
        # print(col)
        # print(col.startswith(w1))
        # print(col.endswith(w2))
        
        if col.startswith(w1) and col.endswith(w2):
            print(col)
            return col , None

In [94]:
mega_s(data.copy(), 'Multiplier', 'Y')

Multiplier Y

('Multiplier Y', None)

In [2]:
import pandas as pd

In [7]:
fno_data=pd.read_csv(r'C:\Users\acer\Desktop\Py-Fin\Fin_data\Fin_data\Input\FNO_LIST - Copy.csv')
fno_data

           SYMBOLS     Sector         NSE  LotSize  Margin
0    BAJAJ-AUTO.NS  2-Wheeler    AARTIIND     1000   21.90
1     EICHERMOT.NS  2-Wheeler  ABB             125   20.45
2    HEROMOTOCO.NS  2-Wheeler  ABBOTINDIA       40   17.79
3      TVSMOTOR.NS  2-Wheeler  ABCAPITAL      5400   22.80
4    BAJAJ-AUTO.NS  3-Wheeler  ABFRL          2600   23.25
..             ...        ...         ...      ...     ...
184      INDIGO.NS        NaN  VEDL           2300   25.00
185   MOTHERSON.NS        NaN  VOLTAS          600   17.50
186     SBICARD.NS        NaN  WIPRO          1500   17.50
187  SHRIRAMFIN.NS        NaN  ZEEL           3000   40.08
188       TRENT.NS        NaN  ZYDUSLIFE       900   17.50

[189 rows x 5 columns]

In [8]:
com='TRENT.NS'

ndf=fno_data[fno_data["SYMBOLS"]==com]
ndf

      SYMBOLS Sector         NSE  LotSize  Margin
188  TRENT.NS    NaN  ZYDUSLIFE       900    17.5

In [10]:
fno_data[fno_data["SYMBOLS"]==com]['LotSize']

188    900
Name: LotSize, dtype: int64

In [13]:
vsxs=int(fno_data[fno_data["SYMBOLS"]==com]['LotSize'])
type(vsxs)

C:\Users\acer\AppData\Local\Temp\ipykernel_15312\555954182.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  vsxs=int(fno_data[fno_data["SYMBOLS"]==com]['LotSize'])

int